<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eccang.spider.amazon.dao.dict.APIDao">

    <resultMap id="APIResultMap" type="API">
        <result property="id" column="bea_id"/>
        <result property="customerCode" column="bec_code"/>
        <result property="status" column="bea_status"/>
        <result property="token" column="bea_token"/>
        <result property="pushUrl" column="bea_push_url"/>
        <result property="extra" column="bea_extra"/>
    </resultMap>

    <select id="findByCode" resultMap="APIResultMap">
        SELECT * FROM base_eccang_api WHERE bec_code = #{0};
    </select>

</mapper>