<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eccang.spider.amazon.dao.dict.CustomerDao">

    <cache eviction="LRU" type="com.eccang.spider.base.rediscache.RedisCache"/>

    <resultMap id="CustomerResultMap" type="Customer">
        <result property="id" column="bec_id"/>
        <result property="code" column="bec_code"/>
        <result property="status" column="bec_status"/>
        <result property="platformCode" column="bp_code"/>
        <result property="name" column="bec_name"/>
        <result property="address" column="bec_address"/>
        <result property="phone" column="bec_phone"/>
        <result property="email" column="bec_email"/>
        <result property="legalPerson" column="bec_legal_person"/>
        <result property="introduce" column="bec_introduce"/>
        <result property="extra" column="bec_extra"/>
        <result property="debug" column="bec_debug"/>
    </resultMap>

    <select id="findByCode" resultMap="CustomerResultMap">
        SELECT * FROM base_eccang_customer WHERE bec_code = #{0};
    </select>

</mapper>