<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eccang.spider.amazon.dao.pay.PayPackageDao">

    <resultMap id="PayPackageResultMap" type="PayPackage">
        <id property="id" column="bpp_id"/>
        <result property="code" column="bpp_code"/>
        <result property="status" column="bpp_status"/>
        <result property="custom" column="bpp_custom"/>
        <result property="createTime" column="bpp_create_time"/>
        <result property="updateTime" column="bpp_update_time"/>
    </resultMap>

    <insert id="add" parameterType="PayPackage">
        INSERT INTO base_pay_package(
        bpp_code,
        bpp_status,
        bpp_custom
        ) VALUES (
        #{code},
        #{status},
        #{custom}
        )
    </insert>

    <select id="findByCode" resultMap="PayPackageResultMap" parameterType="java.lang.String">
        select * from base_pay_package
        WHERE
        bpp_code = #{0}
    </select>

    <select id="findBuildIn" resultMap="PayPackageResultMap">
        select * from base_pay_package
        WHERE
        bpp_custom = 0;
    </select>

    <update id="update" parameterType="PayPackage">
        UPDATE base_pay_package
        SET
        bpp_status = #{status},
        bpp_custom = #{custom}
        where
        bpp_code = #{code}
    </update>

</mapper>