<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eccang.spider.amazon.dao.crawl.DepartmentDao">

    <resultMap id="DepartmentMap" type="Department">
        <id column="sad_id" property="id" />
        <result column="bo_batch_num" property="batchNum" />
        <result column="sad_name" property="depName" />
        <result column="sad_p_id" property="pId" />
        <result column="sad_p_name" property="parentDepName" />
        <result column="bas_code" property="siteCode" />
        <result column="sad_code" property="depCode" />
        <result column="sad_tab" property="depTab" />
        <result column="sad_url" property="depUrl" />
        <result column="sad_level" property="depLevel" />
        <result column="sad_extra" property="extra" />
        <result column="sad_sync_time" property="syncTime" />
        <result column="sad_create_time" property="createTime" />
        <result column="sad_update_time" property="updateTime" />
    </resultMap>

    <select id="findAll" resultMap="DepartmentMap">
      SELECT
        *
      FROM
        spider_amazon_department
    </select>

    <select id="findChildDepCount" resultType="int">
        SELECT
          count(*)
        FROM
          spider_amazon_department
        WHERE
          sad_p_id = #{0} and bo_batch_num = #{1}
    </select>

    <select id="findByPId" resultMap="DepartmentMap">
        SELECT
          *
        FROM
          spider_amazon_department
        WHERE
          sad_p_id = #{0}
    </select>

    <select id="findByBatchNumAndDepUrl" resultMap="DepartmentMap">
        SELECT
          *
        FROM
          spider_amazon_department
        WHERE
          bo_batch_num = #{0} and sad_url = #{1}
    </select>

    <select id="findByBatchNumAndDepCode" resultMap="DepartmentMap">
        SELECT
          *
        FROM
          spider_amazon_department
        WHERE
          bo_batch_num = #{0} and sad_code = #{1}
    </select>

    <insert id="addAll" parameterType="java.util.List">
        INSERT INTO spider_amazon_department(
          bo_batch_num,
          sad_name,
          sad_p_id,
          sad_p_name,
          bas_code,
          sad_code,
          sad_tab,
          sad_url,
          sad_level,
          sad_extra,
          sad_sync_time
        ) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
              #{item.batchNum},
              #{item.depName},
              #{item.pId},
              #{item.parentDepName},
              #{item.siteCode},
              #{item.depCode},
              #{item.depTab},
              #{item.depUrl},
              #{item.depLevel},
              #{item.extra},
              #{item.syncTime}
            )
        </foreach>
    </insert>
    
    <insert id="add" parameterType="Department">
        INSERT INTO spider_amazon_department(
         bo_batch_num,
         sad_name,
         sad_p_id,
         sad_p_name,
         bas_code,
         sad_code,
         sad_tab,
         sad_url,
         sad_level,
         sad_extra,
         sad_sync_time
        ) VALUES (
          #{batchNum},
          #{depName},
          #{pId},
          #{parentDepName},
          #{siteCode},
          #{depCode},
          #{depTab},
          #{depUrl},
          #{depLevel},
          #{extra},
          #{syncTime}
        )
    </insert>

    <update id="update" parameterType="Department">
        UPDATE
          spider_amazon_department
        SET
          sad_name = #{depName},
          sad_p_id = #{pId},
          sad_p_name = #{parentDepName},
          bas_code = #{siteCode},
          sad_code = #{depCode},
          sad_tab = #{depTab},
          sad_url = #{depUrl},
          sad_level = #{depLevel},
          sad_extra = #{extra},
          sad_sync_time = #{syncTime}
        WHERE
           sad_id = #{id}
    </update>

</mapper>