<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eccang.spider.amazon.dao.crawl.KeywordRankDao">

    <resultMap id="KeywordRankMap" type="KeywordRank">
        <id column="sakr_id" property="id" />
        <result column="saa_asin" property="asin" />
        <result column="sakr_keyword" property="keyword" />
        <result column="bas_code" property="siteCode" />
        <result column="bad_code" property="departmentCode" />
        <result column="sakr_total_pages" property="totalPages" />
        <result column="sakr_every_page" property="everyPage" />
        <result column="sakr_rank_num" property="rankNum" />
        <result column="sakr_create_time" property="createTime" />
        <result column="sakr_update_time" property="updateTime" />
    </resultMap>

    <insert id="add">
        INSERT into spider_amazon_keyword_rank (
          saa_asin,
          sakr_keyword,
          bas_code,
          bad_code,
          sakr_total_pages,
          sakr_every_page,
          sakr_create_time,
          sakr_update_time
        ) VALUES (
          #{asin},
          #{keyword},
          #{siteCode},
          #{departmentCode},
          #{totalPages},
          #{everyPage},
          CURRENT_TIMESTAMP,
          CURRENT_TIMESTAMP
        )
    </insert>

    <insert id="addAll" parameterType="java.util.List">
        INSERT into spider_amazon_keyword_rank (
          saa_asin,
          sakr_keyword,
          bas_code,
          bad_code,
          sakr_create_time,
          sakr_update_time
        ) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.asin},
                #{item.keyword},
                #{item.siteCode},
                #{item.departmentCode},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP
            )
        </foreach>
    </insert>

    <update id="updateByObj">
        UPDATE spider_amazon_keyword_rank
        SET
          sakr_total_pages = #{totalPages},
          sakr_every_page = #{everyPage},
          sakr_rank_num = #{rankNum}
        WHERE
          saa_asin = #{asin} and sakr_keyword = #{keyword} and bas_code = #{siteCode} and bad_code = #{departmentCode}
    </update>

    <update id="updateRankNum">
        UPDATE spider_amazon_keyword_rank
        SET
          sakr_rank_num = #{rankNum}
        WHERE
          saa_asin = #{asin} and sakr_keyword = #{keyword} and bas_code = #{siteCode} and bad_code = #{departmentCode}
    </update>

    <select id="findByAsin" resultMap="KeywordRankMap">
        SELECT
          *
        FROM
          spider_amazon_keyword_rank
        WHERE
          saa_asin = #{asin}
    </select>

    <select id="findByObj" resultMap="KeywordRankMap">
      SELECT
         *
      FROM
        spider_amazon_keyword_rank
      WHERE
          saa_asin = #{asin} and sakr_keyword = #{keyword} and bas_code = #{siteCode} and bad_code = #{departmentCode}
    </select>
</mapper>