<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eccang.spider.amazon.dao.AsinRootAsinDao">

    <cache eviction="LRU" type="com.eccang.spider.base.service.RedisCacheService"/>

    <resultMap id="AsinRootAsinMap" type="AsinRootAsin">
        <id column="rar_id" property="id"/>
        <result column="bas_code" property="siteCode"/>
        <result column="rar_asin" property="asin"/>
        <result column="rar_root_asin" property="rootAsin"/>
        <result column="rar_create_time" property="createTime"/>
        <result column="rar_update_time" property="updateTime"/>
    </resultMap>

    <insert id="add" parameterType="AsinRootAsin">
        INSERT INTO relation_asin_rootasin(
        bas_code,rar_asin,rar_root_asin
        ) VALUES (
        #{siteCode},#{asin},#{rootAsin}
        )
    </insert>

    <select id="findByRelation" resultMap="AsinRootAsinMap">
        select * from relation_asin_rootasin WHERE
        rar_asin = #{0} AND rar_root_asin = #{1} AND bas_code = #{2}
    </select>

    <select id="findByAsin" resultMap="AsinRootAsinMap">
        select * from relation_asin_rootasin WHERE
        rar_asin = #{0} AND bas_code = #{1}
    </select>
</mapper>