<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eccang.spider.amazon.dao.batch.BatchRankDao">

    <cache eviction="LRU" type="com.eccang.spider.base.rediscache.RedisCache"/>

    <resultMap id="BatchRankMap" type="BatchRank">
        <id column="bor_id" property="id" />
        <result column="bo_batch_num" property="batchNum" />
        <result column="bor_keyword" property="keyword" />
        <result column="bad_code" property="departmentCode" />
        <result column="bas_code" property="siteCode" />
        <result column="saa_asin" property="asin" />
        <result column="bor_type" property="type" />
        <result column="bor_priority" property="priority" />
        <result column="bor_status" property="status" />
        <result column="bor_is_changed" property="isChanged" />
        <result column="bor_create_time" property="createTime" />
        <result column="bor_update_time" property="updateTime" />
    </resultMap>

    <insert id="addAll" parameterType="java.util.List">
        INSERT INTO batch_order_rank (
          bo_batch_num,
          bor_keyword,
          bas_code,
          saa_asin,
          bad_code,
          bor_type,
          bor_status,
          bor_priority,
          bor_is_changed,
          bor_create_time,
          bor_update_time
        ) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
              #{item.batchNum},
              #{item.keyword},
              #{item.siteCode},
              #{item.asin},
              #{item.departmentCode},
              #{item.type},
              #{item.status},
              #{item.priority},
              #{item.isChanged},
              CURRENT_TIMESTAMP,
              CURRENT_TIMESTAMP
            )
        </foreach>
    </insert>

    <update id="update" parameterType="BatchRank">
        UPDATE
          batch_order_rank
        SET
          bor_type = #{type},
          bor_status = #{status},
          bor_is_changed = #{isChanged},
          bor_update_time = CURRENT_TIMESTAMP
        WHERE
          bor_id = #{id}
    </update>

    <select id="findNotCrawled" resultMap="BatchRankMap">
        select * from batch_order_rank WHERE bor_status = 0;
    </select>

    <select id="findByBatch" resultMap="BatchRankMap">
        SELECT
          *
        FROM
          batch_order_rank
        WHERE
          bo_batch_num = #{batchNum}
    </select>

    <select id="findByObj" resultMap="BatchRankMap">
        SELECT
          *
        FROM
          batch_order_rank
        WHERE
          bo_batch_num = #{batchNum} and bor_keyword = #{keyword} and bas_code = #{siteCode} and saa_asin = #{asin} and bad_code = #{departmentCode}
    </select>

    <select id="findAverageProgress" resultType="float">
        SELECT SUM(bor_status)/COUNT(*)/2 FROM batch_order_rank WHERE bo_batch_num = #{0};
    </select>
</mapper>