<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eccang.spider.amazon.dao.UrlBatchStatDao">
    <resultMap id="UrlBatchStatMap" type="UrlBatchStat">
        <id property="id" column="subs_id" />
        <result property="url" column="subs_url" />
        <result property="batchNum" column="subs_batch_num" />
        <result property="isProxy" column="subs_is_proxy" />
        <result property="correctTime" column="subs_correct_time" />
        <result property="exceptionTime" column="subs_exception_time" />
        <result property="createDate" column="subs_create_date" />
        <result property="updateDate" column="subs_update_date" />
    </resultMap>

    <!-- 通过批次号查询 -->
    <select id="findByBatch" resultMap="UrlBatchStatMap" parameterType="java.lang.String">
        SELECT * FROM spider_url_batch_stat
        WHERE subs_batch_num = #{0}
    </select>

    <!-- 通过id查询 -->
    <select id="findById" resultMap="UrlBatchStatMap" parameterType="int">
        SELECT * FROM spider_url_batch_stat
        WHERE subs_id = #{0}
    </select>

    <!-- 通过批次号与url查询监测信息 -->
    <select id="findByBatchAndUrl" resultMap="UrlBatchStatMap" parameterType="java.lang.String">
        SELECT * FROM spider_url_batch_stat
        WHERE subs_batch_num = #{0} AND subs_url = #{1}
    </select>

    <!-- 增加一条监测信息 -->
    <insert id="addOne" parameterType="UrlBatchStat" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO spider_url_batch_stat(
          subs_url,
          subs_batch_num,
          subs_is_proxy,
          subs_correct_time,
          subs_exception_time,
          subs_create_date,
          subs_update_date
        ) VALUES (
          #{url},
          #{batchNum},
          #{isProxy},
          #{correctTime},
          #{exceptionTime},
          CURRENT_TIMESTAMP,
          CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 批量新增 -->
    <insert id="addAll" parameterType="java.util.List">
        INSERT INTO spider_url_batch_stat(
          subs_url,
          subs_batch_num,
          subs_is_proxy,
          subs_correct_time,
          subs_exception_time,
          subs_create_date,
          subs_update_date
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.url},#{item.batchNum},#{item.isProxy},#{item.correctTime},#{item.exceptionTime},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
        </foreach>
    </insert>

    <!-- 通过id更新监测信息 -->
    <update id="updateById" parameterType="UrlBatchStat">
        UPDATE spider_url_batch_stat
        SET
          subs_url = #{url},
          subs_batch_num = #{batchNum},
          subs_is_proxy = #{isProxy},
          subs_correct_time = #{correctTime},
          subs_exception_time = #{exceptionTime},
          subs_update_date = CURRENT_TIMESTAMP
        WHERE
          subs_id = #{id}
    </update>
</mapper>