<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eccang.spider.amazon.dao.relation.CustomerAsinDao">

    <resultMap id="CustomerAsinMap" type="CustomerAsin">
        <result column="rca_id" property="id"/>
        <result column="bec_code" property="customerCode"/>
        <result column="bas_code" property="siteCode"/>
        <result column="saa_asin" property="asin"/>
        <result column="rca_crawl" property="crawl"/>
        <result column="rca_on_sell" property="onSell"/>
        <result column="rca_priority" property="priority"/>
        <result column="rca_frequency" property="frequency"/>
        <result column="rca_star" property="star"/>
        <result column="rca_sync_time" property="syncTime"/>
        <result column="rca_create_time" property="createTime"/>
        <result column="rca_update_time" property="updateTime"/>
    </resultMap>

    <select id="findByCustomerCode" resultMap="CustomerAsinMap">
      select * from relation_customer_asin WHERE bec_code = #{customerCode};
    </select>

    <update id="update" parameterType="CustomerAsin">
        UPDATE relation_customer_asin SET
        rca_crawl = #{crawl},
        rca_on_sell = #{onSell},
        rca_priority = #{priority},
        rca_frequency = #{frequency},
        rca_star=#{star},
        rca_sync_time = #{syncTime}
        where
        bec_code = #{customerCode}
        and
        bas_code = #{siteCode}
        and
        saa_asin = #{asin}
    </update>

    <insert id="addAll" parameterType="java.util.List">
        INSERT INTO relation_customer_asin(
        bec_code,
        bas_code,
        saa_asin,
        rca_crawl,
        rca_on_sell,
        rca_priority,
        rca_frequency,
        rca_star,
        rca_sync_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.customerCode},
            #{item.siteCode},
            #{item.asin},
            #{item.crawl},
            #{item.onSell},
            #{item.priority},
            #{item.frequency},
            #{item.star},
            #{item.syncTime}
            )
        </foreach>
    </insert>

    <select id="findByObject" resultMap="CustomerAsinMap">
        select * from relation_customer_asin
        WHERE
        bec_code = #{customerCode}
        and
        bas_code = #{siteCode}
        and
        saa_asin = #{asin};
    </select>

    <select id="findNeedGenerateBatch" resultMap="CustomerAsinMap">
        SELECT * FROM relation_customer_asin
        WHERE
        rca_crawl = 1
        AND
        rca_on_sell = 1
        AND
        CURRENT_TIMESTAMP - rca_sync_time > rca_frequency * 3600 or rca_sync_time is NULL ;
    </select>

    <select id="findUsedCount" resultType="int">
        select count(*) from relation_customer_asin
        WHERE
        bec_code = #{0}
        AND
        rca_crawl = 1
    </select>
</mapper>
