<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eccang.spider.amazon.dao.relation.CustomerPayPackageDao">

    <resultMap id="CustomerPayPackageMap" type="CustomerPayPackage">
        <id column="rcpp_id" property="id"/>
        <result column="bec_code" property="customerCode"/>
        <result column="bpp_code" property="packageCode"/>
        <result column="rcpp_status" property="status"/>
        <result column="rcpp_create_time" property="createTime"/>
        <result column="rcpp_update_time" property="updateTime"/>
    </resultMap>

    <insert id="add" parameterType="CustomerPayPackage">
        INSERT INTO relation_customer_pay_package(
        bec_code,
        bpp_code,
        rcpp_status
        ) VALUES (
        #{customerCode},
        #{packageCode},
        #{status}
        );
    </insert>

    <select id="findByCode" resultMap="CustomerPayPackageMap">
        SELECT * FROM relation_customer_pay_package WHERE bpp_code = #{0};
    </select>

</mapper>
